<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Index</title>
</head>
<body>
{% if customer_list %}
    <ol>
        {% for customer in customer_list %}
        <li><h2>Order from <a href="{% url 'customer' customer.id %}">{{ customer.name }}</a> waiting {{ customer.wait_time }} minutes</h2></li>
        <ul>
            {% for order in customer.order_set.all %}
            <li><a href="{% url 'order_detail' order.id %}">{{ order.amount }} lbs of {{ order.product }}</a>. Total cost: ${{ order.get_total_cost }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ol>
{% else %}
    <p>No orders to display</p>
{% endif %}
</body>
</html>